body{background-color: blanchedalmond;
   
    
    border : auto;
    padding: 20px 20px 20px 20px;


    }
header{
    background-color: blueviolet;
    color: black;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
 
    

}
.image{
    align-self: center;
    padding-top:5% ;
}

.file{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.para{
    display: flex;
    flex-direction: column;
    text-align: center;

}
p{
    text-align: center;
    width:50%;
    padding-left: 25%;
   

}
.foot{
    height: fit-content;
}
footer{clear: both;
    background-color: blueviolet;
    color: black;
    padding: 20px;
    text-align: center;
}